<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>retry</title>
</head>
<body>
  do a request to a shaky service that has errors in first responses
  <form method="post">
      <label for="successRate">success rate</label>
      <input id="successRate" name="successRate" type="number" value="3">
      <ul>
          <li><input type="submit" value="submit shaky" data-th-formaction="@{/shaky-service}"/></li>
          <li><input type="submit" value="submit retry" data-th-formaction="@{/shaky-service-retry}"/></li>
      </ul>
  </form>



</body>
</html>