<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Spring Boot Thymeleaf Hello World Example</title>

</head>

<body>

<main role="main" class="container">
    <div class="starter-template">
        <h1>Spring Boot Web Thymeleaf Example</h1>
        <h2>
            <span>Hello World</span>
        </h2>
    </div>
    <form action="#" th:action="@{/check}" th:object="${form}" method="post">
        <label for="email">E-Mail</label>
        <input id="email" name="email" type="email" th:value="${form.email}">
        <div class="alert alert-warning" th:if="${errors != null}">Invalid E-Mail</div>
        <input type="submit" value="Submit"/>
    </form>
</main>

</body>
</html>